/* set colors */
:root {
    --primary-color: #8FD6E0; /* Sky Blue */
    --darker-primary-color: #58848a; /* Deep Evergreen */
    --secondary-color: #757575; /* Dark Gray Background */
    --inner-card: #5A5A5A;
    --card-colors: #3A3A3A;
    --card-border: #2b2b2b;
    --text-color: #F4F6F5; /* Soft Off-White for contrast */
}

/* html and body styles */
html, body {
    margin: 0 5% 0 5%;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--card-border);
    color: var(--text-color);
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    color: var(--primary-color);
}

p {
    line-height: 1.6;
    margin: 10px 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s ease;
}

a:hover {
    color: var(--primary-color);
    transition: 0.3s ease;
}

/* nav bar styles */
#nav {
    position: fixed;
    width: 100%; /* Full width */
    margin: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    z-index: 1000; /* Add this high z-index */
    top: 0; /* Ensure it's at the top */
}

#nav ul {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: var(--primary-color);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    gap: 20px; /* Adds space between items */
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 2.5%; /* Add horizontal padding to maintain content alignment */
}

#nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Default link color */
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    transition: 0.3s ease;
}

#nav ul li a:hover {
    background-color: var(--darker-primary-color);
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transition: 0.3s ease;
}

#nav ul li a:active {
    background-color: var(--darker-primary-color);
    transform: translateY(-2px);
}

/* header styles */
#header {
    background-color: var(--card-colors);
    border: 1px solid var(--card-border);
    margin-top: 50px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

/* gets started styles */
#get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#get-started a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 45%;
    padding: 30px;
    font-size: 2rem;
    text-align: center;
    background-color: var(--primary-color);
    border: none;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

#get-started a:hover {
    background-color: var(--darker-primary-color);
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transition: 0.3s ease;
}


/* about section styles */
#about {
    padding: 20px;
    background-color: var(--card-colors);
    border: 1px solid var(--card-border);
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
}

#about h2 {
    text-align: left;
    font-size: 25px;
}

#about h3 {
    text-align: right;
    font-size: 25px;
}

#about div {
    background-color: var(--inner-card);
    border: 1px solid var(--card-border);
    border-radius: 5px;
    padding: 20px;
}

/* gallery styles */
#gallery {
    padding: 20px;
    background-color: var(--card-colors);
    border: 1px solid var(--card-border);
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
}

#gallery .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px; /* Space between images */
    transition: transform 0.3s ease;
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 20px;
}

#gallery .gallery img {
    width: 45%; /* Fixed width for images */
    height: 500px; /* Fixed height for images */
    object-fit: cover; /* Ensures images cover the area without distortion */
    border-radius: 5px;
    transition: 0.3s ease;
}

#gallery .gallery img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}

/* contact section styles */
#contact {
    padding: 20px;
    background-color: var(--card-colors);
    border: 1px solid var(--card-border);
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
}

#contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

#insta, #mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.fa-regular, .fa-brands {
    font-size: 1.5rem;
    color: var(--primary-color);
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#contact-form input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

#contact a {
    color: var(--primary-color);
}

/* featured section styles */
#featured {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    text-align: center;
}

#featured img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.5s ease;
}

#featured img:hover {
    border-radius: 5px;
    margin-bottom: 20px;
    transform: scale(1.05); /* Slight zoom effect on hover */
    transition: 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

#featured #feats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between images */
}

/* learn more section styles */
#learn-more {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    text-align: center;
}

#learn-more a {
    text-decoration: none;
    color: #ffffff;
    background-color: var(--primary-color);
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 15%;
    margin: 10px 0;
    font-size: 1.25rem;
    transition: 0.3s ease;
    cursor: pointer;
}

#learn-more a:hover {
    background-color: var(--darker-primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-2px);
    transition: 0.3s ease;
}

#learn-more #learn-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px; /* Space between buttons */
}

#learn-more ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

/* Make columns display side by side */
.row {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Space between columns */
    width: 100%;
    margin-top: 20px;
    font-size: 1.25rem;
}

.column {
    flex: 1; /* Each column takes equal width */
    padding: 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .row {
    flex-direction: column; /* Stack vertically on mobile */
    }

    .column {
    margin-bottom: 15px;
    }
}

@media screen and (max-width: 600px) {
    .column {
    width: 100%;
    }
}

/* history styles */
#history {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    text-align: center;
}

#history div {
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#history h2 {
    text-align: center;
    margin-bottom: 10px;
}

#history p {
    line-height: 1.6;
    font-size: 1.25rem;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* footer styles */
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    margin: 20px 0;
    text-align: center;
}

#footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

#footer a {
    font-size: 1rem;
    color: var(--text-color);
}

#footer a:hover {
    text-decoration: underline;
    color: var(--text-color);
}

/* Pricing plan styles */
#pricing {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    text-align: center;
}

.pricing-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.pricing-column {
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Featured pricing plan styling */
.pricing-column.featured {
    background-color: #e8f5e9; /* Light green background */
    border: 2px solid var(--primary-color);
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2; /* Above other plans but below navbar */
}

.pricing-column:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.pricing-column.featured:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.price {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin: 15px 0;
}

.pricing-features {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.pricing-features li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

#pricing a {
    text-decoration: none;
    color: #ffffff;
    background-color: var(--primary-color);
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    width: 50%;
    margin: 10px 0;
    font-size: 1.25rem;
    transition: 0.3s ease;
    cursor: pointer;
}

#pricing a:hover {
    background-color: var(--darker-primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transition: 0.3s ease;
}

/* Responsive design for pricing */
@media (max-width: 768px) {
    .pricing-row {
        flex-direction: column;
    }
    
    .pricing-column {
        margin-bottom: 20px;
        width: 100%;
    }
    
    .pricing-column.featured {
        transform: none; /* Remove the scale effect on mobile */
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        order: 0; /* This keeps the natural order (19, 49, 99) */
    }
}

/* For any elements with hover effects that translate upward */
a:hover, 
button:hover,
#nav ul li a:hover,
#get-started a:hover,
#learn-more a:hover {
    z-index: 1; /* Lower z-index than the navbar */
}

/* answers section styles */
#answers {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    text-align: center;
}

#answers ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#answers li {
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* privacy policy styles */
#privacy {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#privacy p {
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* terms of service styles */
#tos {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#tos ul {
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tos p {
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Careers section styles */
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 20px 0;
    gap: 20px;
    text-align: center;
}

#form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#form label {
    display: block;
    width: 60%;
    margin: 10px auto 0 auto;
    text-align: left;
}

#form input,
#form textarea,
#form select {
    display: block;
    width: 60%;
    margin: 5px auto 15px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    box-sizing: border-box;
}

#form button {
    width: 40%;
    padding: 10px;
    margin: 20px auto 0 auto;
    font-size: 1.25rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    display: block;
}

#form button:hover {
    background-color: var(--darker-primary-color);
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
    transition: 0.3s ease;
}
